# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.



name: Build

on:

   push:

    branches:

      - stable

      - development

env:

  SOLUTION_FILE_PATH: ./minty.sln

  BUILD_CONFIGURATION: Release

permissions:

  contents: read

jobs:

  build:

    runs-on: windows-latest

    steps:

    - uses: actions/checkout@v3

      with:

        submodules: recursive

    - name: Install MSBuild

      uses: microsoft/setup-msbuild@v1.0.2

    - name: Build Minty solution

      working-directory: ./

      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}

        

    - name: Removing unused files

      shell: bash

      run: |

        rm -rf ./x64/${{env.BUILD_CONFIGURATION}}/*.pdb

      

    - name: Upload Minty latest artifact

      uses: actions/upload-artifact@v3.1.0

      with:

        name: Minty-${{env.BUILD_CONFIGURATION}}

        path: ./bin/Release-x64/*

        if-no-files-found: error













